streamlit>=1.32.0
python-dotenv>=1.0.0
langchain>=0.1.0
langchain-community
groq>=0.5.0
pypdf>=4.1.0
chromadb>=0.4.0
sentence-transformers>=2.2.2
langchain-text-splitters
langchain-chroma
langchain-groq
pypdf
python-dotenv
rank-bm25
